.App {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;      
  background: linear-gradient(
      to bottom,
      hsl(0, 0%, 100%),       
      hsl(216, 100%, 98%)     
  );
}

.logo {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(3500%) hue-rotate(195deg) brightness(90%) contrast(105%);
}

.main-card {
  transform: scale(1.05);
}

.loading-card {
  background: white;
}

.landing-title {
  background: linear-gradient(135deg, hsl(216, 100%, 25%), hsl(216, 100%, 35%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  color: hsl(222.2, 84%, 4.9%);
  font-weight: bold;
}

.hero-text {
  color: hsl(215.4 16.3% 46.9%);
  font-weight: bold;
}

.celex-header {
  color: hsl(222.2 84% 4.9%);
}

.celex-text {
  color: hsl(215.4 16.3% 46.9%);
}
.celex-form {
  background-color: white;
}

.icon-white {
  width: 20px; 
  filter: brightness(0) invert(1); 
}

.my-link {
  color: hsl(216, 100%, 25%);
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn.my-button {
  background-color: hsl(216, 100%, 25%);
  color: hsl(0, 0%, 100%);
  border: none;
  transition: background-color 0.3s ease;
}

.btn.my-button:hover {
  background-color: hsla(216, 100%, 25%, 0.9);
  color: hsl(0, 0%, 100%);
}

.load-spin {
  color: hsl(216, 100%, 35%) !important;
}

.loading-title {
  font-size: 2rem; 
  font-weight: bold;
  background: linear-gradient(
    to right,
    hsl(216 100% 25%),
    hsl(216 100% 35%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.my-active {
  background-color: hsl(216 100% 25% / 0.1) !important;
  font-weight: bold;
  border: 1px solid hsl(216 100% 25% / 0.2) !important;
}

.inactive {
  background-color: hsl(210 40% 96.1% / 0.5) !important;
  font-weight: bold;
  color: hsl(215.4 16.3% 46.9%) !important;
}

.loading-icon-active {
  width : 25px;
  height: 25px;
  fill: hsl(210 40% 98%);
  border-radius: 50%;
  display: block;
}

.loading-icon-container-active {
  width : 40px;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: hsl(216 100% 25%);
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
}

.loading-icon-inactive {
  width : 25px;
  height: 25px;
  fill: hsl(216 100% 25%);
  border-radius: 50%;
  display: block;
}

.loading-icon-container-inactive {
  width : 40px;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: hsl(216 100% 25% / 0.1);
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
}

.preview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: height .3s ease-in-out;
  background-color: hsl(210 40% 96.1%); 
}

.preview-title {
  font-weight: bold;
  color: hsl(216 100% 25%);
}

.summary-l-card {
  background: white;
  width: 100%;
  height: auto;
}

.button-icon {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.3s ease;
  margin-right: 5px;
}

.chat-messages {
  min-height: 30vh;
  max-height: 65vh;
  overflow-y: auto;
}

.chat-icon {
  width: 25px;
  height: 25px;
  fill: hsl(216, 100%, 25%);
  transition: fill 0.3s ease;
  margin-right: 5px;
  margin-bottom: 7px;
}

.chat-header {
  background-color: hsl(210, 40%, 96.1%);
}

.chat-message {
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
}

.send-icon {
  width: 20px;
  height: 20px;
  stroke: "white";
  fill: none;
}

.message {
  background-color: hsl(216, 100%, 25%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
  width: fit-content;
  max-width: 80%;
  align-self: flex-end;
}

.response {
  background-color: hsl(210 40% 96.1%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: hsl(222.2 84% 4.9%);
  align-self: flex-start;
  width: fit-content;
  max-width: 80%;
}
